
bu_index/
build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
scripts/java_dmeta/commons-codec-1.15.jar
scripts/java_dmeta/dmetaphone_with_actual.csv
scripts/java_dmeta/dmetaphone.csv
.gitignore
scripts/java_dmeta/DoubleMetaphoneExample.class
scripts/java_dmeta/DoubleMetaphoneExample.java
scripts/java_dmeta/dmetaphone.test
scripts/java_dmeta/DoubleMetaphoneExample.java
